# Laravel & PHP
/.env.*
/database/*.sqlite
/storage/debugbar/
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/mix-manifest.json
/public/css/*.map
/public/js/*.map
/public/js/*.js
/public/css/*.css
/public/js/*.js.map
/public/css/*.css.map
.env

# Node & Vite
/node_modules/
/public/build/
/public/hot
/public/storage

# IDE & OS
/.idea/
/.vscode/
/.phpunit.result.cache
Thumbs.db
.DS_Store
/.fleet/
/.zed/

# Composer
vendor/
composer.lock
